:root {
    --primary: #d7f3f3;
    --secondary: #9bda27;
    --tertiary: #20659c;
    --light-dark: #3f2194;
    --dark: #050f13;
    --border-radius: 12px;

    --margin-padding:10px;
  }
  
  * {
    box-sizing: border-box;
    margin: var(--margin-padding);
  }

  body {
    background-color: var(--primary);
    margin:var(--margin-padding);
    padding: var(--margin-padding);
  }

  h1,
  h2,
  h3,
  h4{
    color: var(--dark);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  main {
    margin: var(--margin-padding);
  }

  .top-header{
    background-color: var(--secondary);
  }
  
  p {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
  }
  
   .btn {
    font-size: 20px;
    padding:20px;
    display: block;
    outline: none;
    text-decoration : none;
    margin: var(--margin-padding);
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    background-color: var(--light-dark);
    justify-content: center;
  }
  
   .btn:hover {
    color: var(--dark);
    background-color: var(--tertiary);
  }

  .form-input-large{
    width: 320px;
  }

  .form-input-short{
    width: 60px;
  }

  .form-input-med{
    width: 100px;
  }

  .input-box {
    margin:var(--margin-padding);
    border: 2px solid var(--dark);
    border-radius: var(--border-radius);
    width:500px;
  }
  .text-input{
    border-radius: var(--border-radius);
    border: 2px solid var(--dark);
    height: 40px;
  }

  label{
    font-size: 18px;
  }
  
