select {
  height: 24px;
  width: 160px;
}

.bcInput {
  width: 60px;
}

.button {
  width: fit-content !important;
  max-width: 80%;
  word-wrap: normal;
  white-space: normal;
  height: max-content !important;
}
.bg-img { 
  background-image: url("../images/iStock-930889470-2.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  
}

.img-responsive {
display: block; 
max-width: 100%;
height: auto;
}

.bulma-overlay-mixin {
  background-color: lightgray;
  border-radius: 0.25em;
  color: black;
  opacity: 0.85;
  padding: 1em;
  height: 100%;
}

h1 {
  color: white;
  -webkit-text-stroke: black 1px;
}